/.fabric
/.mixin.out
/cache
/ModTranslations
/backups
/command_history.txt
/crash-reports
/ctlib
/downloads
/handbook_data.json
/icon.png
/logs
/patchouli_books
/patchouli_data.json
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/stackdeobf_mappings
/texturepacks
/tlm_custom_pack
/usercache.json
local/ftbchunks/
